<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="shortcut icon" href="images/Rodina_mat.jpg" type="image/jpg">
<title><%= i.name %></title>

<link href="stylesheets/style.css" rel="stylesheet" /></head>

<body><div id="container">
<h2><%= i.name %></h2>
<p><%= i.description %></p>
<p><img src="images/<%= i.image %>" width="250px" alt="Rodina mat`"></p>
<a href="/catalog">До сайту</a>

</div>
<div class="delete">
    <form method="post">
       <label>
           <input type="submit" value="Delete">
       </label>
    </form>
</div>

</body>
</html>