.usrtable {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
.usrtable th, td:first-child {
    background: rgb(123, 177, 224);
    color: white;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    td {
    background: rgb(147, 184, 219);
    }
    th:first-child, td:first-child {
    text-align: left;
    }

/*.usrtable th, .usrtable td {
    border: 1px solid black;
}*/

.holder {
    width: 1200px;
    margin: auto;
    border: 5px solid green;
    padding: 25px;
    height: 975px; 
    background:white;
    opacity: 0.8;
}

.colTable { text-align: center; }

.colTable {border-collapse: collapse;  width: 70%; margin: 0 auto 5rem;}

.colTable th, td { padding: 1.5rem; font-size: 1.3rem; }

.colTable tr {background: hsl(50, 50%, 80%); }

.colTable tr, td { transition: .4s ease-in; } 

.colTable tr:first-child {background: hsla(12, 100%, 40%, 0.5); }

.colTable tr:nth-child(even) { background: hsla(50, 50%, 80%, 0.7); }

.colTable td:empty {background: hsla(50, 25%, 60%, 0.7); }

.colTable tr:hover:not(#firstrow), tr:hover td:empty {background: #ff0; pointer-events: visible;}
.colTable tr:hover:not(#firstrow) { transform: scale(1.2); font-weight: 700; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}

.inline{
    display: flex;
    flex-direction: row;
    margin: 10px;   
    padding: 20px;
}
.catalog{
    display: flex;
    flex-direction: row;
    margin: 5px;   
    padding: 5px;
}
.catalog img{
    max-height: 150px;
    max-width: 150px;
}
.catalog div{
    margin: 10px;
    width: 200px;
}
.menu{
    width: 170px;
    /*margin: 20px;*/
    border: 5px solid white;
}
.menu ul{
    background: rgb(223, 223, 223);
    font-size: 20px;
    line-height: 2.9;
    list-style-type: none;
}
.logo{
    text-align: center;
    /*border: 5px solid black;*/
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-style: italic;
}
.header{
    align-self: center;
}

.image_header{
    align-self: right;
    width: 50%; 
}


.contens{
    border :5px solid silver;
    margin: 10px;   
    padding: 20px;
    width: 82%;
}
body{
    background-image: url(https://cdn-images-1.medium.com/max/1920/1*8ZsXWqdo9OwAfwychr3zEw.png);
}

.currentpage{
    color: black;
}

.profileHeader{
    display: flex;
    flex-direction: row;
}

.grow{
    height: 400px;
    max-width: 900px;
    overflow:hidden;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;

}

.grow:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    }
.fullName{
    padding: 10px;

}
.fullName h1{
    font-size: 40px;
    font-style: italic;
}

.fullName p{
    font-size: 20px;
}

.gotousrs{
    position: absolute;
    bottom: 40px;
    width: 1200px;
    text-align: center;
}
.search{
    text-align: center;
}

.selector{
    width: 300px;
}